
/* for the fonts damn it, and if you need boldness 
(don't do it) add it to html
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
*/

/* (: GENERAL :) */

body{
	font-family: 'Oswald', sans-serif;
	color: #212121;
	line-height: 1.4;
}

/* (: HEADER :) */

header {
	padding: 1rem 5%;
	background-color: #c60b1e;
	overflow: hidden;
}

.logo {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	color: #332925;

}

.menu a {
	color: #ffc400;
	text-decoration: none;
	padding-top: 1.5rem;
}

.menu img {
	height: 1.5rem;
}

@media screen and (min-width: 40em){
	.logo{
		width: 40%;
		float: left;
	}
	.menu{
		width: 5%;
		float: right;
	}
}
/* (: GENERAL MAIN CONTENT :)*/


main {
	padding: 3rem 5%;
	overflow: hidden;
}

main h1 {
	font-family: 'Merriweather', serif;
	font-size: 1.7rem;
}

@media screen and (min-width: 40em) {
	main h1 {
		font-size: 4rem;
	}
}

main h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.7rem;
}

main h3 {
	font-family: 'Merriweather', serif;
	font-size: 1.4rem;
}

main h4 {
	font-family: 'Merriweather', serif;
	font-size: 1.2rem;
	line-height: 1rem;
}

main p {
	font-size: 1rem;
}

main li {
	font-size: 1rem;
}

@media screen and (min-width: 40em){
	.col-left {
		width: 30%;
		float: left;
	}
}
/* (: COLUMN LEFT :); */

.col-left img {
	width: 100%;
}

/* (: COLUMN RIGHT :) */

@media screen and (min-width: 40em){
	.col-right {
		width: 65%;
		float: right;
	}
}

/* (: INNER COLUMN :) */

.ingredients {
	overflow: hidden;
}
.ingredients ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ingredients li {
	padding: .5rem 0;
	border-top: 1px dotted #bdbdbd;
}
@media screen and (min-width: 40em){
	.ingredient{
		width: 45%;
		float: left;
		margin-right: 5%;
	}
}

/* (: FOOOTER :) */
footer {
	padding: 1.5rem 5%;
	background-color: #bdbdbd;
}

footer p {
	font-family: 'Merriweather', serif;
	margin: 0;
	color: #757575;
}

footer a {
	text-decoration: none;
	color: #ffffff;
}


